*{
    padding: 0;margin: 0;box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
img{
    width: 100%;
}
p{
    line-height: 25px;
}
/* hero section start */
.hero-section{
    background-image: url("../image/header-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-section .main{
    height: 850px;
    position: relative;
}
.hero-section .main .width-left{
    float: left;
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.hero-section .main .width-left h2{
    font-size: 40px;
    text-transform: capitalize;
    color: rgb(65, 65, 65);
}
.hero-section .main .width-left h1{
    font-size: 50px;
    color: #FF1A74;
    text-transform: capitalize;
    margin-top: 10px;
}
.hero-section .main .width-left p{
    font-size: 16px;
    color: #797979;
    text-transform: capitalize;
    margin-top: 30px;
}
.hero-section .main .width-left a{
    padding: 12px 25px;
    margin-top: 30px;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    background-color: #FF1A74;

}
.hero-section .main .width-right{
    float: left;
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
/* hero section end */

/* biography section start */
.biography-section{
    background-image: url("../image/biography-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: top;
}
.biography-section .main{
    height: 850px;
    position: relative;
}
.biography-section .main .width-left{
    float: left;
    width: 45%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.biography-section .main .width-right{
    float: left;
    width: 45%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.biography-section .main .width-right h2{
    font-size: 40px;
    text-transform: capitalize;
    color: rgb(65, 65, 65);
}
.biography-section .main .width-right p{
    font-size: 16px;
    color: #797979;
    text-transform: capitalize;
    margin-top: 30px;
}
.biography-section .main .width-right a{
    padding: 12px 25px;
    margin-top: 30px;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    background-color: #FF1A74;

}
/* biography section end */
/* portfolio section start */
.portfolio-section{
    background-image: url("../image/latest-work-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: top;
}
.portfolio-section .main h2{
    font-size: 40px;
    text-transform: capitalize;
    color: rgb(65, 65, 65);
    text-align: center;
    margin-top: 150px;
}
.portfolio-section .main{
    height: 750px;
    position: relative;
}
.portfolio-section .main .portfolios{
    margin-top: 100px;
}
.portfolio-section .main .portfolios img{
    width: 30%;
    float: left;
    margin-left: 30px;
}
/* portfolio section end */
/* review section */
.review-section{
    background-image: url("../image/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: top;
    margin-top: -100px;
    text-align: center;
}
.review-section .main h2{
    font-size: 40px;
    text-transform: capitalize;
    color: rgb(65, 65, 65);
    padding-top: 100px;
    margin-bottom: 100px;
}
.review-section .main{
    height: 800px;
    position: relative;
}
.review-section .main h3{
    font-size: 20px;
    text-transform: capitalize;
    color: rgb(65, 65, 65);
}
.review-section .main .title{
    text-transform: capitalize;
    color: #797979;
    margin-bottom: 40px;
}
.review-section .main .title span{
    text-transform: uppercase;
}
.review-section .main .review-text{
    margin-bottom: 50px;
    margin-bottom: 100px;
}
.address-area{
    width: 800px;
    padding: 70px 0px;
    margin: 0 auto;
    background-color: #FF1A74;
    border-radius: 10px;
}
.address-area p{
    color: white;
    margin-bottom: 20px;
}
.address-area h3{
    color: white !important;
    text-transform: lowercase !important;
    font-size: 25px !important;


}
/* review section */
/* footer section */
footer{
    text-align: center;
    color: #797979;
    padding: 30px 0px;
}
/* footer section */